<section class="contact"  @fadeIn>
    <div class="overlay"></div>
    <div class="container">
        <div class="contact-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-content-info-left">
                        <h5>Send Message To Us</h5>
                        <div class="contact-form">
                            <form>
                                <input class="form-control w-75" type="text" name="yourName" placeholder="Your Name">
                                <input class="form-control w-75" type="email" name="yourEmail" placeholder="Your Email">
                                <input class="form-control w-75" type="text" name="subject" placeholder="Subject">
                                <textarea name="message" cols="30" rows="5" placeholder="Message"></textarea>
                                <div class="contact-content-info-left-link"><button type="submit">Send
                                        Message</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-content-info-right">
                        <h5>Get in Touch</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum dolorem soluta
                            quidem expedita aperiam aliquid at. Totam magni ipsum suscipit amet? Autem nemo esse
                            laboriosam ratione nobis mollitia inventore?</p>
                        <div class="contact-icon-one">
                            <div class="contact-icon-one-group"><i class="fa-solid fa-location-dot"></i><a>Street 9 El
                                    maddi , Cairo, 535022</a></div>
                            <div class="contact-icon-one-group"><i class="fa-solid fa-mobile-screen-button"></i><a
                                    class="cursor" href="tel:+201065760158">01065760158</a></div>
                            <div class="contact-icon-one-group"><i class="fa-regular fa-envelope"></i><a class="cursor"
                                    href="mailto:mostafazabady05@gmail.com">mostafazabady05@gmail.com</a></div>
                        </div>
                        <div class="contact-icon-two">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>