/* =================================================== start section contact =============================== */
.contact {
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/138803-OSOZ68-557.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.contact {
  padding-top: 80px;
  padding-bottom: 40px;
}

.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F8D171;
  opacity: 0.3;
}

.contact-content {
  position: relative;
  background-color: #d2cdb2;
  padding: 50px;
  border-radius: 40px;
}

.contact-content-info {
  display: flex;
}
.contact-content-info-left h5,
.contact-content-info-right h5 {
  font-size: 32px;
  color: #1e1e1e;
  line-height: 38.4px;
  margin-bottom: 40px;
  position: relative;
}
.contact-content-info-left h5::before,
.contact-content-info-right h5::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  bottom: -15px;
  background-color: #F8D171;
}

.contact-content-info-left-link {
  text-align: center;
}

.contact-content-info-left-link button {
  text-decoration: none;
  background-color: #024D94;
  padding: 10px 24px;
  margin-top: 25px;
  color: white;
  display: inline-block;
  border: none;
  transition: 0.7s ease;
}
.contact-content-info-left-link button:hover {
  background-color: #F8D171;
    border-radius: 20px;
    color: #1e1e1e;
}
form {
  display: flex;
  flex-direction: column;
}
form > input {
  margin-bottom: 20px;
  padding: 8px;
}
form textarea::placeholder {
  padding-left: 0px;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
}
form input:focus,
form textarea:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  border-color: #F8D171;
}

.contact-content-info-right p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
  color: #4e4e4e8a;
  font-weight: 300;
}

.contact-content-info-right .contact-icon-one {
  display: flex;
  flex-direction: column;
}

.contact-icon-one a {
    text-decoration: none;
    font-weight: 600;
    color: #024D94;
}

.contact-content-info-right .contact-icon-one .contact-icon-one-group {
  margin-bottom: 8px;
}
.contact-content-info-right .contact-icon-one i {
  margin-right: 12px;
  color: #F8D171;
}
.contact-content-info-right .contact-icon-two {
  padding-top: 15px;
}
.contact-content-info-right .contact-icon-two i {
  margin-right: 30px;
  color: #024D94;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.contact-content-info-right .contact-icon-two i:hover {
    transform: scale(1.1);
  color: #F8D171;
}



@media (max-width: 767.98px) {
    .contact-content-info-left {
        padding-bottom: 40px;
    }
}