<section class="navbarbar">
  <header>
    <nav #nav class="navbar navbar-expand-md navbar-light bg-light shadow">

      <div class="container">
        <a #nav class="navbar-brand">
          <img src="./assets/images/logo 2.webp" class="image-data w-75" alt="website logo shopping go" loading="lazy">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a href="" class="me-4 social-icon"><i class="fab fa-facebook"></i></a>
              <a href="" class="me-4 social-icon"><i class="fab fa-instagram"></i></a>
              <a href="" class="me-4 social-icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="" class="me-4 social-icon"><i class="fab fa-whatsapp"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
</section>