footer {
  width: 100%;
  background-color: #024D94;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-info {
  display: flex;
}

.foot-1-logo {
  display: flex;
}

.foot-1-img {
  width: 330px;
  margin-right: 30px;
}

.foot-1-img .logo a {
  color: white;
}

.foot-1-img img {
  width: 40px;
  margin-right: 10px;
}

.foot-1-img p {
  font-size: 16px;
  margin-top: 10px;
  color: white;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.foot-1 h4 {
  font-size: 18.72px;
  color: white;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.foot-1-icon {
  border-top: 2px solid white;
}

.foot-1-icon i {
  padding-right: 80px;
  padding-top: 24px;
  font-size: 25px;
  color: #F8D171;
  cursor: pointer;
}


.foot-2 {
  width: 60%;
  padding-right: 20px;
}

.foot-2 h4 {
  font-size: 18.72px;
  color: white;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding: 10px 0;
}

.foot-2 p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #a7a7a7;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.foot-2-input {
  display: flex;
  align-items: center;
}

.foot-2 input {
  padding: 15px;
  width: 70%;
  margin-right: 5px;
}

.foot-2-input a {
  padding: 15px;
  background-color: #F8D171;
  color: #a7a7a7;
  text-decoration: none;
  transition: 0.3s ease;
}

.foot-2-input a:hover {
  background-color: #f8d27190;
  color: #fff;

}

.foot-2-navigation {
  display: flex;
}

.foot-2-nav-1 {
  padding-right: 50px;
}

.foot-2-nav-1 h5,
.foot-2-nav-2 h5 {
  width: 150%;
  padding: 8px;
  transition: 0.4s ease-in;
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #cecece;
  cursor: pointer;
}

.foot-2-nav-1 h5:hover,
.foot-2-nav-2 h5:hover {
  transform: translateX(10px);
  background-color: #f8d271a0;
}

.foot-2-nav-2 {
  padding-left: 80px;
}

.foot-3 h4 {
  font-size: 18.72px;
  color: white;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  padding-bottom: 10px;
  padding-left: 0;
}


.foot-3-icon {
  display: flex;
  align-items: baseline;
  padding-bottom: 15px;
}

.foot-3-icon p {
  font-size: 16px;
  color: #a7a7a7;
  line-height: 28px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


.foot-3-icon i {
  margin-right: 15px;
  color: #F8D171;
  font-size: 20px;
}

.foot-3-icon a {
  text-decoration: none;
  color: #a7a7a7;
}











/* ================================= start media quary for section main-page ========================= */

@media (max-width: 1241px) {
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}


/* ================================================================ */
@media (max-width: 767.98px) {
  .foot-2 input {
    padding: 15px;
    width: 70%;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .foot-2-input input {
    width: 70%;
  }

  .foot-2-input a {
    padding: 15px;
    width: 70%;
  }

  .foot-2-input {
    display: flex;
    align-items: flex-start;
  }

  .foot-2-nav-1 h5,
  .foot-2-nav-2 h5 {
    width: 200%;
  }

}

/* ================================================================= */
@media (max-width: 575.98px) {
  .foot-2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .foot-2-nav-1 h5,
  .foot-2-nav-2 h5 {
    width: max-content;
  }

  .foot-2-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .foot-2 input {
    padding: 15px;
    width: 70%;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .foot-2-input a {
    padding: 15px;
    background-color: #F8D171;
    color: #a7a7a7;
    width: 70%;
    text-decoration: none;
    transition: 0.3s ease;
  }

  .foot-2-nav-2 {
    padding-left: 14px;
  }
}