<footer>
    <div class="container">
        <div class="footer-info">
            <div class="foot-1">
                <div class="foot-1-img">
                    <div class="foot-1-logo">
                        <div class="logo"><img class="w-100" src="./assets/images/logo 2.webp"
                                alt="website logo shopping go" loading="lazy"></div>
                    </div>
                    <p>Shopping Go! is an Online market that offers a delicious shopping experience to its
                        customers.</p>
                    <h4>Social Media</h4>
                    <div class="foot-1-icon">
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
            <div class="foot-2">
                <h4>Subscribe our Newsletter</h4>
                <p>Don't miss out on our latest offers updates and exclusive offers - join our newsletter today and
                    stay up-to-date with all things Shopping Go!</p>
                <div class="foot-2-input">
                    <input type="email" name="email" placeholder="Enter Your Email Address">
                    <a href="#"><i class="fa-solid fa-envelope"></i> Subscribe</a>
                </div>
                <h4>Quick Links</h4>
                <div class="foot-2-navigation">
                    <div class="foot-2-nav-1">
                        <h5><i class="fa-solid fa-angle-right"></i> Products</h5>
                        <h5><i class="fa-solid fa-angle-right"></i> About Us</h5>
                        <h5><i class="fa-solid fa-angle-right"></i> Brands</h5>
                    </div>
                    <div class="foot-2-nav-2">
                        <h5><i class="fa-solid fa-angle-right"></i> Categories</h5>
                        <h5><i class="fa-solid fa-angle-right"></i> Contact</h5>
                        <h5><i class="fa-solid fa-angle-right"></i> Our Partners</h5>
                    </div>
                </div>
            </div>
            <div class="foot-3">
                <h4>Get in Touch</h4>
                <div class="foot-3-icon"><i class="fa-solid fa-location-dot"></i>
                    <p>Street 9 El maddi , Cairo, 535022</p>
                </div>
                <div class="foot-3-icon"><i class="fa-solid fa-envelope"></i><a href="mailto:mostafazabady05@gmail.com">
                        mostafazabady05@gmail.com</a></div>
                <div class="foot-3-icon"><i class="fa-solid fa-phone"></i><a href="tel:+201065760158">01065760158</a>
                </div>
            </div>
        </div>
    </div>
</footer>