<section>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" routerLink="">
          <img src="./assets/images/logo 2.webp" class="image-data w-75" alt="website logo shopping go" loading="lazy">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/products">Products</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/brands">Brands</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link" routerLinkActive="active-link" routerLink="/contact">Contact Us</a>
            </li>
            <div class="icon-collection d-flex align-items-baseline">
              <li class="nav-item me-4">
                <div class="dropdown">
                  <button class="btn" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i class="fas fa-user-gear"></i> </button>
                  <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item cursor" (click)="signOut()">SignOut</a>
                  </div>
                </div>
              </li>
              <li routerLink="./wishlist" class="nav-item me-4">
                <i class="cursor fas fa-heart"></i>
              </li>
              <li routerLink="./cart" class="nav-item me-4 position-relative cursor">
                <i class="fas fa-cart-shopping fs-5"></i>
                <span class="badge-cart" *ngIf="count() > 0">
                  {{ count() }}
                </span>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </nav>

  </header>

</section>